$orb--Large-Dimensions: 70vh
$orb--medium-Dimensions: 40vh
$orb--logo-Dimensions: 10vh

=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

+keyframes(orb)
    0% 
        transform: translate(-50%, -50%) rotate(0deg)
    100%
        transform: translate(-50%, -50%) rotate(360deg)

+keyframes(orb1)
    0% 
        transform: translate(-50%, -50%) rotate(0deg)
    100%
        transform: translate(-50%, -50%) rotate(-360deg)

.orb
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: inherit
    height: inherit

    &[angle='0']
        transform: translate(-50%, -50%) rotate(0deg)
    &[angle='15']
        transform: translate(-50%, -50%) rotate(15deg)
    &[angle='30']
        transform: translate(-50%, -50%) rotate(30deg)
    &[angle='45']
        transform: translate(-50%, -50%) rotate(45deg)
    &[angle='60']
        transform: translate(-50%, -50%) rotate(60deg)
    &[angle='75']
        transform: translate(-50%, -50%) rotate(75deg)

.home
    position: fixed
    width: 100%
    height: 100vh
    z-index: -1

    .orbLager, .orbMedium, .orbLogo, .orbLogo .orbBg 
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        animation: orb 60s linear infinite

    .orbLager
        width: $orb--Large-Dimensions
        height: $orb--Large-Dimensions
        z-index: 1

        .orb
            background-color: #171616

    .orbMedium
        width: $orb--medium-Dimensions
        height: $orb--medium-Dimensions
        animation: orb1 60s linear infinite
        z-index: 2

        .orb
            background-color: #121212

    .orbLogo
        display: flex
        justify-content: center
        align-items: center
        width: $orb--logo-Dimensions
        height: $orb--logo-Dimensions
        animation: none
        z-index: 3

        .logo
            font-size: 3rem
            font-family: 'Poppins', sans-serif
            color: #fff
            z-index: 4

        .orbBg
            width: inherit
            height: inherit

            .orb
                background-color: #0f0a0a
