.container--skills__qualities {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
}

.container--skills__qualities .skills__content::before {
   content: "";
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   width: 1px;
   height: 100%;
   background-color: #000;
}
.container--skills__qualities .title__content {
   width: 100%;
   margin-bottom: 40px;
}
.skills__content,
.qualities_content {
   position: relative;

   // the  0.05 is the margin-gap__sq
   width: calc(50% - (50% * 0.05));
}

.skills__content {
   margin-right: var(--margin-gap__sq);
}
.qualities_content {
   margin-left: var(--margin-gap__sq);
}

.skills__content h3 {
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.skills__content a {
   display: block;
   width: 90%;
   font-family: "Noto Sans Display", sans-serif;
   font-size: 25px;
   color: #000;
}

.skills__content .skills__content--item {
   list-style: none;
   margin-bottom: 40px;
}
.skills__content .skills__content--item .skills__item {
   font-size: 25px;
   font-weight: 300;
   text-transform: uppercase;
   margin-bottom: 5px;
   margin-left: 5px;
   font-family: "Noto Sans Display", sans-serif;
}

.skills__content .skills__item span[letter-grade="experienced"],
.skills__content .skills__item span[letter-grade="advanced"],
.skills__content .skills__item span[letter-grade="average"] {
   color: #000;
   font-weight: 600;
   font-family: "Noto Sans Display", sans-serif;
}
.skills__content .skills__item span[letter-grade="experienced"] {
   color: rgb(187, 72, 6);
}
.skills__content .skills__item span[letter-grade="advanced"] {
   color: rgb(87, 87, 203);
}
.skills__content .skills__item span[letter-grade="average"] {
   color: rgb(31, 129, 31);
}

.qualities_content .qualities__content--item {
   padding-bottom: 15px;
   margin-bottom: 30px;
   border-bottom: 1px solid #000;
}
.qualities_content .qualities__content--item h3 {
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 10px;
}
.qualities_content .qualities__content--item p {
   font-size: 22px;
   font-family: "Noto Sans Display", sans-serif;
   font-weight: 400;
}

@media (max-width: 800px) {
   .skills__content,
   .qualities_content {
      position: relative;

      // the  0.05 is the margin-gap__sq
      width: 95%;
      margin: 0 auto;
      margin-bottom: 0px;
   }
   .container--skills__qualities .skills__content {
      padding-bottom: 100px;
      margin-bottom: 100px;
   }
   .container--skills__qualities .skills__content::before {
      content: "";
      position: absolute;
      top: 100%;
      right: -50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: #000;
   }
   .qualities_content .qualities__content--item:last-child {
      margin-bottom: 0px;
   }
}
