.container.container-background {
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   background: rgb(255, 255, 255);
   background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(153, 226, 201, 1) 100%
   );
}
