:root {
   --margin-gap__sq: 2.5%;
}

.container--cv {
   width: 1200px;
   color: #000;
   margin: 0 auto;
   border-left: #000 1px solid;
   border-right: #000 1px solid;
}

.container--cv .container__content {
   position: relative;
   width: 100%;
   padding: 4%;
   margin-top: 60px;
}
.container--cv .container__content .title__content {
   position: relative;
   padding-bottom: 10px;
   font-size: 50px;
   text-transform: uppercase;
   text-align: center;
}
// .container--cv .container__content .title__content::before {
//    content: "";
//    position: absolute;
//    bottom: 0%;
//    left: 50%;
//    transform: translateX(-50%);
//    width: 100%;
//    height: 1px;
//    background-color: #000;
// }

.container--cv .container__content::after {
   content: "";
   position: absolute;
   bottom: -10%;
   left: 50%;
   transform: translateX(-50%);
   width: 90%;
   height: 1px;
   background-color: #000;
}

// Title section styles
// Title section styles
// Title section styles

.container--cv .container--title {
   padding-top: 30px;
   text-align: center;
}
.container--cv .container--title img {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 212px;
   height: 90px;
   mask-clip: padding-box;
   z-index: -1;
}
.container--cv .container--title h1 {
   font-size: 110px;
   text-transform: uppercase;
   font-family: "Yaldevi", sans-serif;
   font-weight: 400;
}
.container--cv .container--title span {
   display: block;
   font-size: 35px;
   font-family: "Noto Sans Display", sans-serif;
   font-weight: 300;
   text-transform: uppercase;
}

// Profile section styles
// Profile section styles
// Profile section styles

.container--cv .container--info {
   margin-top: 30px;
   padding: 0 50px;
}

.container--cv .container--info .profile__content {
   display: grid;
   grid-template-columns: 350px 1fr;
   grid-gap: 30px;
}

.container--cv .container--info .profile__content .profile__Info {
   grid-column: 1;
   grid-row: 1;
}
.container--cv
   .container--info
   .profile__content
   .profile__Info
   .profile__Info--imgBox {
   margin: auto;
   width: 100%;
   height: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.container--cv
   .container--info
   .profile__content
   .profile__Info
   .profile__Info--imgBox
   img {
   height: 100%;
}

.container--cv .container--info .profile__content .profile__about {
   grid-column: 2;
   grid-row: 1;
}

.container--cv
   .container--info
   .profile__content
   .profile__about
   .profile__Info--infoBox {
   display: flex;
   justify-content: space-between;
   padding: 0 2.5%;
   padding-bottom: 20px;
   margin-bottom: 50px;
   border-bottom: #000 1px solid;
}

.container--cv
   .container--info
   .profile__content
   .profile__about
   .profile__Info--infoBox
   .profile__Info--infoBox__item {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.container--cv
   .container--info
   .profile__content
   .profile__about
   .profile__Info--infoBox
   .profile__Info--infoBox__item:nth-child(2) {
   align-items: flex-end;
}
.container--cv
   .container--info
   .profile__content
   .profile__about
   .profile__Info--infoBox
   .profile__Info--infoBox__item
   h2 {
   font-size: 37px;
   font-weight: 400;
   text-transform: uppercase;
}
.container--cv
   .container--info
   .profile__content
   .profile__about
   .profile__Info--infoBox
   .profile__Info--infoBox__item
   a {
   color: #000;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 22px;
   font-family: "Noto Sans Display", sans-serif;
   font-weight: 500;
}

.container--cv .container--info .profile__content .profile__about p {
   font-size: 22px;
   padding: 0 2.5%;
   font-family: "Noto Sans Display", sans-serif;
   font-weight: 400;
}

// Skills and qualities styles
// Skills and qualities styles
// Skills and qualities styles

.container--skills__qualities {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
}

.container--skills__qualities .skills__content::before {
   content: "";
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   width: 1px;
   height: 100%;
   background-color: #000;
}
.container--skills__qualities .title__content {
   width: 100%;
   margin-bottom: 40px;
}
.skills__content,
.qualities_content {
   position: relative;

   // the  0.05 is the margin-gap__sq
   width: calc(50% - (50% * 0.05));
}

.skills__content {
   margin-right: var(--margin-gap__sq);
}
.qualities_content {
   margin-left: var(--margin-gap__sq);
}

.skills__content h3 {
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.skills__content a {
   display: block;
   width: 90%;
   font-family: "Noto Sans Display", sans-serif;
   font-size: 25px;
   color: #000;
}

.skills__content .skills__content--item {
   list-style: none;
   margin-bottom: 40px;
}
.skills__content .skills__content--item .skills__item {
   font-size: 25px;
   font-weight: 300;
   text-transform: uppercase;
   margin-bottom: 5px;
   margin-left: 5px;
   font-family: "Noto Sans Display", sans-serif;
}

.skills__content .skills__item span[letter-grade="experienced"],
.skills__content .skills__item span[letter-grade="advanced"],
.skills__content .skills__item span[letter-grade="average"] {
   color: #000;
   font-weight: 600;
   font-family: "Noto Sans Display", sans-serif;
}
.skills__content .skills__item span[letter-grade="experienced"] {
   color: rgb(187, 72, 6);
}
.skills__content .skills__item span[letter-grade="advanced"] {
   color: rgb(87, 87, 203);
}
.skills__content .skills__item span[letter-grade="average"] {
   color: rgb(31, 129, 31);
}

.qualities_content .qualities__content--item {
   padding-bottom: 15px;
   margin-bottom: 30px;
   border-bottom: 1px solid #000;
}
.qualities_content .qualities__content--item h3 {
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 10px;
}
.qualities_content .qualities__content--item p {
   font-size: 22px;
   font-family: "Noto Sans Display", sans-serif;
   font-weight: 400;
}

// Experience sectiopn styles
// Experience sectiopn styles
// Experience sectiopn styles

.container--experience .title__content {
   margin-bottom: 50px;
}
.container--experience .experience__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
}
.container--experience .experience__container .experience__item {
   padding: 0 1%;
   padding-bottom: 2%;
   width: calc(50% - (50% * 0.02));
   border-bottom: 1px solid #000;
}
.container--experience
   .experience__container
   .experience__item
   .experience__item--title {
   margin-bottom: 20px;
}
.container--experience
   .experience__container
   .experience__item
   .experience__item--title
   h3 {
   font-size: 25px;
   margin-bottom: 10px;
}
.container--experience
   .experience__container
   .experience__item
   .experience__item--title
   p {
   font-size: 20px;
   font-family: "Noto Sans Display", sans-serif;
}
.container--experience
   .experience__container
   .experience__item
   .experience__item--links
   a {
   position: relative;
   display: inline-block;
   margin-right: 10px;
   padding-bottom: 5px;
   font-size: 20px;
   font-family: "Noto Sans Display", sans-serif;
   text-decoration: none;
}
.container--experience
   .experience__container
   .experience__item
   .experience__item--links
   a::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 1px;
   background-color: #000;
   transition: 200ms ease-in-out;
}

.container--experience
   .experience__container
   .experience__item
   .experience__item--links
   a:hover::before {
   width: 0%;
}
