.container.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s ease-in-out;
}
.container.loader.loading {
   opacity: 1;
   visibility: visible;
   transition: all 0.2s ease-in-out;
}

.container.loader.loader--exit {
   opacity: 1;
   top: 100%;
   transition: all 1250ms cubic-bezier(0.44, 0.43, 0.53, 0.97);
}

.container.loader .loader--background {
   position: absolute;
   top: 0;
   left: 0;
   background: rgb(3, 3, 3);
   background: linear-gradient(
      145deg,
      rgba(23, 23, 23, 1) 0%,
      rgba(3, 3, 3, 1) 100%
   );
   transition: all 0.5s;
   z-index: -1;
}
.container.loader.home--style .loader--background {
   background: rgb(255, 255, 255);
   background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(153, 226, 201, 1) 100%
   );
}

.container.loader .loader--successText {
   position: absolute;
   top: 3%;
   left: 50%;
   transform: translateX(-50%);
   font-size: 200px;
   text-transform: uppercase;
   overflow: hidden;
   color: #fff;
}
.container.loader.home--style .loader--successText {
   color: inherit;
}
.container.loader .loader--successText span {
   display: inline-block;
   transform: translateY(100%);
   transition: all 0.5s;
}
.container.loader .loader--successText.loader--placeholder--loaderEnded span {
   transform: translateY(0);
}

.container.loader .loader--placeholder {
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   font-size: 350px;
   color: #fff;
}
.container.loader.home--style .loader--placeholder {
   color: inherit;
}
.container.loader
   .loader--placeholder.loader--placeholder--loaderEnded
   .loader--placeholder--innerLetter
   span {
   transform: translateY(-100%);
}

.container.loader .loader--placeholder .loader--placeholder--innerLetter {
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 264px;
   overflow: hidden;
}
.container.loader
   .loader--placeholder
   .loader--placeholder--innerLetter:nth-child(1) {
   left: 0;
   animation: loaderSlide1 20s linear infinite;
}
.container.loader
   .loader--placeholder
   .loader--placeholder--innerLetter:nth-child(2) {
   left: -2588.5px;
   animation: loaderSlide2 20s linear infinite;
}
.container.loader .loader--placeholder .loader--placeholder--innerLetter span {
   display: inline-block;
   font-family: "Poppins", sans-serif;
   transition: 500ms ease;
}

.container.loader .loader--randomPhrase {
   position: absolute;
   left: 5%;
   bottom: 13%;
   font-size: 16px;
   max-width: 350px;
   width: 90%;
   color: #fff;
}
.container.loader .loader--randomPhrase span {
   font-family: "Noto Sans Display", sans-serif;
   display: block;
   width: 100%;
}
.container.loader.home--style .loader--randomPhrase {
   color: inherit;
}

@keyframes loaderSlide1 {
   0% {
      left: 0;
   }
   100% {
      left: 2588.5px;
   }
}

@keyframes loaderSlide2 {
   0% {
      left: -2588.5px;
   }
   100% {
      left: 0;
   }
}

@media (max-width: 768px) {
   .container.loader .loader--successText {
      top: 40%;
      transform: translate(-50%, -50%) rotate(90deg);
   }
   .container.loader .loader--randomPhrase {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }
   .container.loader .loader--randomPhrase span {
      text-align: center;
   }
}
@media (max-width: 415px) {
   .container.loader .loader--successText {
      font-size: 150px;
   }
}
