.project__header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
   position: relative;
   width: 100%;
   height: 100vh;
   margin-bottom: 200px;
   overflow: hidden;
}
.project__header .project__container-info__header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
   color: #fff;
   margin-bottom: 65px;
}
.project__header .project__container-info__header .project__title {
   font-size: 60px;
   font-weight: 300;
   text-transform: uppercase;
   width: 70%;
   text-align: center;
   margin-bottom: 81px;
   z-index: 1;
}
.project__header .project__typeJob {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
   font-size: 20px;
   margin-bottom: 25px;
   color: #fff;
   z-index: 1;
}
.project__header .project__typeJob .project__typeJob-word {
   font-family: "Noto sans display", sans-serif;
   font-weight: 200;
}
.project__header .project__typeJob .project__typeJob-margin__bar {
   width: 144px;
   height: 1px;
   background-color: #fff;
   margin: 0 11.5px;
}
.project__header .project__container-info__header .project__description {
   font-family: "Noto sans display", sans-serif;
   font-weight: 200;
   width: 52%;
   line-height: 25px;
   z-index: 1;
}
.project__header .project__background {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   height: 100vh;
   width: 100%;
   overflow: hidden;
   z-index: 0;
}
.project__header .project__background::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50%;
   background: rgb(3, 3, 3);
   background: linear-gradient(
      0deg,
      rgba(3, 3, 3, 1) 0%,
      rgba(3, 3, 3, 0) 100%
   );
}
.project__header .project__background img {
   width: 100%;
}

.project__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   max-width: 805px;
   margin: 0 auto;
   width: 100%;
}

.project__image {
   width: 100%;
   margin-bottom: 225px;
}
.project__image img {
   max-width: 100%;
}
.project__image.project__image-container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
}
.project__image .project__image-container__text {
   position: relative;
   width: 95%;
   margin: 0 auto;
   color: #fff;
   margin-bottom: 21px;
}
.project__image .project__image-container__text::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 60%;
   height: 1px;
   background: #fff;
}
.project__image .project__image-container__text:nth-child(even)::before {
   left: 40%;
}

.project__image
   .project__image-container__text
   .project__image-container__text-title {
   font-size: 18px;
   font-weight: 200;
   margin-bottom: 13px;
}
.project__image
   .project__image-container__text
   .project__image-container__text-description {
   font-size: 13px;
   font-weight: 200;
   font-family: "Noto sans display", sans-serif;
   padding-bottom: 14px;
}

@media (min-width: 560px) {
   .project__image.project__image-container.project__image-container--not_wrapp {
      flex-wrap: nowrap;
      width: 100%;
   }
   .project__image.project__image-container {
      width: auto;
   }
   .project__image .project__image-container__text {
      max-width: 60%;
      width: auto;
      margin: 0 26px;
      margin-bottom: 26px;
   }
   .project__content .project__image:nth-child(even) {
      flex-direction: row-reverse;
   }
}

/* next buttom */
.container__nextPost--main {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}
.nextPost__container {
   display: block;
   max-width: 300px;
   width: 100%;
   margin: 0 auto;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
}
.nextPost__container .nextPost__background {
   position: relative;
   width: 100%;
   margin-bottom: 70px;
}
.nextPost__container .nextPost__background img {
   width: 100%;
}

.nextPost__container .nextPost__background .nextPost__container--nextWord {
   position: absolute;
   bottom: -30%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   flex-direction: column-reverse;
   mix-blend-mode: difference;
}
.nextPost__container
   .nextPost__background
   .nextPost__container--nextWord
   span:nth-child(1) {
   font-size: 120px;
   font-weight: 200;
}
.nextPost__container
   .nextPost__background
   .nextPost__container--nextWord
   span:nth-child(2) {
   font-size: 30px;
   font-family: "Shippori Mincho", serif;
   margin-bottom: -15px;
}
.nextPost__container .nextPost__container--info {
   display: flex;
   justify-content: center;
   align-items: center;
}
.nextPost__container
   .nextPost__container--info
   :is(.nextPost__container--info__title, .nextPost__container--info__typeJob) {
   font-size: 16px;
   text-transform: uppercase;
   font-family: "Noto sans display", sans-serif;
   font-weight: 200;
}
.nextPost__container
   .nextPost__container--info
   :is(.nextPost__container--info__margin__bar, .nextPost__container--info__typeJob) {
   display: none;
}

/* next button endend */

@media (min-width: 610px) {
   .project__header {
      justify-content: center;
      max-width: 810px;
      margin: 0 auto;
   }

   .project__header .project__container-info__header {
      position: relative;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      margin-bottom: 30px;
      width: 90%;
   }
   .project__header .project__container-info__header::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 105%;
      background-color: #fff;
   }
   .project__header .project__container-info__header .project__title {
      font-size: 39px;
      font-weight: 300;
      width: 35%;
      text-align: left;
      margin-bottom: 0px;
   }
   .project__header .project__container-info__header .project__description {
      font-family: "Noto sans display", sans-serif;
      width: 35%;
      line-height: 22px;
      font-size: 14px;
      text-align: end;
   }

   .project__header .project__background {
      position: relative;
      height: auto;
      width: 100%;
      margin-bottom: 10px;
   }
   .project__header .project__background::before {
      content: none;
   }
   .project__header .project__background img {
      height: auto;
      width: 100%;
   }

   /* next button */

   .nextPost__container {
      max-width: 815px;
      width: 100%;
   }
   .nextPost__container .nextPost__background .nextPost__container--nextWord {
      top: 0%;
      bottom: auto;
      left: 3%;
      transform: translateY(-50%);
      align-items: flex-start;
      flex-direction: row;
   }
   .nextPost__container
      .nextPost__background
      .nextPost__container--nextWord
      span:nth-child(1) {
      font-size: 146px;
      font-weight: 200;
   }
   .nextPost__container
      .nextPost__background
      .nextPost__container--nextWord
      span:nth-child(2) {
      font-size: 30px;
      font-family: "Shippori Mincho", serif;
      margin-top: 8%;
      margin-left: 5%;
   }
   .nextPost__container .nextPost__background {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
   }
   .nextPost__container
      .nextPost__container--info
      :is(.nextPost__container--info__title, .nextPost__container--info__typeJob) {
      font-size: 19px;
      display: block;
   }
   .nextPost__container
      .nextPost__container--info
      .nextPost__container--info__margin__bar {
      display: inline-block;
      width: 27%;
      height: 1px;
      background-color: #fff;
      margin: 0 15px;
   }
}
